.Header{
    height: 40vh;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.Picture{
    min-height: 100%;
    width: 30%;
}

.Picture div{
    border-radius: 4px;
    height: 100%;
    position: relative;
    text-align: center;
}

.Picture img{
    display: block;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.Picture div span {
    position: absolute;
    top: 40%;
    transform: translate(-50%);
}

.Info{
    position: relative;
    height: 100%;
    width: 65%;
    margin-left: 3%;
}

.Title{
    color: var(--BlackTextPrimary);
    font-family: 'Mabry Pro Bold';
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 3px;
}

.Creator{
    position: relative;
    padding: 5px;
}

.Creator span {
    color: var(--BlackTextPrimary);
    font-family: 'Mabry Pro Regular';
    font-size: 1rem;
    display: inline-block;
    line-height: 28px;
    letter-spacing: 0.25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Thumbnail{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
}

.Description{
    color: var(--Gray);
    padding: 5px;
}

.AdditionalInfo{
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.AdditionalInfo span{
    color: var(--LightGray);
    font-size: 0.8rem;
    font-family: 'Mabry Pro Regular';
    margin-right: 5px;
}

.AdditionalInfo span::before{
    content: '\B7';
    margin: 0 5px;
}

.AdditionalInfo span:first-child::before{
    content: '';
    margin: 0;
    margin-left: -5px;
} 

.NoPicture{
    color: var(--White); 
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 700;
    
}