.Header{
    height: 40vh;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.Picture{
    min-height: 100%;
    width: 30%;
}

.Picture div{
    border-radius: 4px;
    height: 100%;
    position: relative;
    text-align: center;
}

.Picture div span {
    position: absolute;
    top: 40%;
    transform: translate(-50%);
}

.Info{
    position: relative;
    height: 100%;
    width: 65%;
    margin-left: 3%;
}

.Title{
    font-family: 'Mabry Pro Bold';
    font-size: 2rem;
    font-weight: 700;
    color: var(--BlackTextPrimary);
    padding: 10px;
}

.Creator{
    padding: 10px;
}

.Creator span {
    font-family: 'Mabry Pro Regular';
    font-size: 1rem;
    color: var(--BlackTextPrimary);
    line-height: 28px;
    letter-spacing: 0.25px;
}

.Description{
    color: var(--Gray);
}

.AdditionalInfo{
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.AdditionalInfo span{
    font-size: 0.8rem;
    font-family: 'Mabry Pro Regular';
    color: var(--LightGray);
}


.NoPicture{
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--White); 
}