button{
    background-color: #f8f8f9;
    border: 1px solid var(--LightGray);
    border-radius: 3px;
    color: var(--BlackPrimaryText);
    padding: 5px 0;
    margin-right: 15px;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: "Roboto-Medium";
    text-align: center;
    outline:none;
    height: 50%;
}

button:hover{
    background-color: var(--White);
}

.Icon{
    margin-right: 5px;
}

.Play{
    background-color: var(--PinkMain);
    color: var(--White);
    width: 20%;
}

.Play:hover{
    background-color: var(--PinkDark);
}

.Favorite{
    width: 15%;
}

.Share{
    width: 15%;
}
