.Navigation{
    border-right: 1px solid #C8C8C8;
    position: fixed;
    left:0;
    top:10vh;
    height: 80vh; 
    width: 20vw;
}
.Navigation ul {
    list-style: none;
    padding-top: 5%;
}
.Active{
    border-left: 5px solid var(--BluePrimary);
} 
