.Navigation{
    border-right: 1px solid var(--LightGray);
    position: fixed;
    left:0;
    top:10vh;
    height: 80vh; 
    width: 17vw;
}
.Navigation ul {
    list-style: none;
    padding-top: 5%;
}
.Active{
    border-left: 5px solid var(--BluePrimary);
    color: var(--BluePrimary);
} 
