.NavigationItem{
    height: 7vh;
    padding: 15px 20px;
}

.NavigationItem a{
    text-decoration: none;
}

.NavigationItem a > *{
    display: inline-block;
    font-size: 16px;
    font-family: "Mabry Pro Bold";
    color: var(--Black);
    margin-left: 5%;
    text-align: center;
}

.NavigationItem a:hover > *,
.NavigationItem a:active > *,
.NavigationItem a.active > *{
    color: var(--BluePrimary);
    font-weight: 800;
}


