.Heading{
    display: inline-block;
    width: 80%;
    margin-left: -5%;
    text-align: center;
    font-family: "Mabry Pro Bold";
    color: var(--BlackGradient);
    vertical-align: baseline; 
}

.Header {
    height: 10vh;
    font-size: 1.15em;
    width: 100%;
    vertical-align: middle; 
    border-bottom: 1px solid #C8C8C8;
}