.AlbumTrackList{
        font-family: "Roboto-Medium";
        margin-top: 10px;
        padding-right: 10px;
        width: 100%;
}

.AlbumTracksHeading{
    color: var(--LightGray);
    border-top: 1px solid var(--BorderGray);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 15px 0px;
    display: flex;
    width:100%;
}

.AlbumTracksBody{
    font-size: 0.85rem;
    letter-spacing: 1px;
    width: 100%;
}

.Hash{
    text-align: center;
    font-size: 1rem;
    width: 7.5%;   
}

.Fav{
    min-width: 5%;
}

.Track{
    width: 65%;
}

.Duration{
    width: 22.5%;
}